.page {
  display: flex;
  justify-content: center;
}

.container {
  width: 816px;
  height: 1344px;
  border: 1px solid red;
  /* background-color: #E5DADA; */
  background-color: #FFFFFC;
}

.item-title h1 {
  font-size: 1.3rem;
  margin: 0;
}


.item-title {
  padding: 0.7em 0.7em 0.7em 2rem;
  /* background-color: #02040F; */
  background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
  color: #f5bc11;
  font-size: 0.7rem;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.item-description p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: "Crete Round", serif;
}

.flex {
  display: flex;

}

.item-left {
  width: 60%;
  gap: 1rem;
  padding: 0.2rem  0.2rem  0.2rem  2rem;
}

.item-right {
  padding: 0.5rem;
  gap: 1rem;
}

.note {
  font-size: 13px;
}

.note p {
  margin: 0;
}

.food-id {
  width: 5%;
}